
.nav-item {
    font-size: .9rem;
}

.card-deck {
    justify-content: space-around;
}

.card-deck .card {
    flex: none;
    max-width: 225px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.navbar {
    padding: 0.1rem .4rem;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.list-group-item {
    padding: .25rem 0;
}
.list-group-item-label {
    font-weight: 700;
    font-size: 1.1rem;
}
.dropdown-item:hover {
    background-color: rgba(0,0,0,.3)
}
tr td img {
   max-width: 100px;
   min-width: 50px;
}
tr td, tr th {
    vertical-align: middle !important;
}
.roster img {
    max-width:100px;
    margin: 5px;
}
.jumbotron {
    background-image: url("/static/assets/jumbotron.jpeg");
    background-repeat: no-repeat;
    background-size: auto;
}
.transparent-black {
    background-color: rgba(0,0,0,.3);
}
.btn-container {
  position: relative;

}
.roster-btn {
    background-color: #555555; 
    display: flex;
    flex-direction: row;
}
.roster-btn button {
    min-width: 100px;
    max-width: 500px;
    min-height: 2rem;
    margin: 5px;
}
.roster-box {
    display: flex;
    background-color: #555555; 
    width: 100%;
    min-height:100px;
    max-height:15%;
    flex-direction: column;
    align-items: center;
}
.roster {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}
.character-popup{
        width: 100%;
        height: 100%;
        position: absolute;
        visibility:hidden;
        display:none;
        background-color: rgba(22,22,22,0.3);
    }
    

    .character-popup-modal {
        background:#555555; 
        color: whitesmoke;
        margin: 0 auto;
        width:300px; 
        position:relative; 
        z-index:10;
        top: 25%;
        padding:30px; 
        -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4);
        -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); 
        box-shadow:0 0 10px rgba(0,0,0,0.4);
    }

 @media (min-width: 992px) {
     .roster-btn{
         flex-direction: column ;
     }
     .roster-box{
         flex-direction: row;
     }
 }
