<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{%block title%}{%endblock%}</title>
        <meta name="description" content="">
        <meta property="og:image" content="/static/assets/jumbotron.jpeg" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://rick-morty-adlibs.herokuapp.com/" />
        <meta property="og:title" content="RickandMorty Adlibs" />
        <meta property="og:description" content="Have fun creating your own madlib style stories with the characters from Rick and Morty!" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/bootstrap"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        {% include 'navigation-bar.html' %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
        {% endif %}
        {% endwith %}
        {%block main%}{%endblock%}
        
        <script src="https://unpkg.com/axios/dist/axios.js"></script>
        <script src="/static/scripts.js" async defer></script>
        {% block pagescript %} {% endblock %}
    </body>
</html>