<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#subnavToggle" aria-controls="subnavToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="subnavToggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link characters" href="/database/characters">Characters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link locations" href="/database/locations">Locations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link episodes" href="/database/episodes">Episodes</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" action="/search" methods="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>