{% extends 'base.html'%}

{%block main%}

<div class="table-responsive">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Air Date</th>
        <th scope="col">Episode</th>
    </tr>
  </thead>
  <tbody class="episode-table">

  </tbody>
</table>

<div class="btn-container d-flex" style="justify-content: space-between;">
  <button class="btn btn-primary back">Back</button><button class="btn btn-primary next">Next</button>
  </div>
{% endblock %}

{%block pagescript %}
<script src='/static/episode_script.js'></script>
{% endblock %}