{% extends 'base.html'%}

{%block title%}Login Page{%endblock%}

{%block main%}
<div class="home-page-bg">
<div class="jumbotron jumbotron-fluid transparent-black">
    <div class="container">
      <h2 class="display-4">Rick and Morty Adlibs!</h2>
      <p class="lead">Welcome to the Rick and Morty Adlib App! Sign Up now to get started!</p>
      <p class="lead">Below are the rules to help you begin, have fun!</p>
    </div>
  </div>


<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-5 text-center">How-To Guide</h3>
            <ol>
                <li>Draft 5 characters from the character database. These will serve as the characters in your story.</li>
                <li>Pick the story template you want to use.</li>
                <li>Fill in the form with the words your story will use.</li>
            </ol>
        </div>
        <div class="col text-center">
            <h3 class="display-5">Word Tips</h3>
            <p>Adjective | Describe something! <br />[crazy, drunk, pungeant]</p>
            <p>Noun | A thing or things <br />[car, space station, vat of acid]</p>
            <p>Verb | An action <br />[drive, fly, shoot]</p>
            <p>Adverb | Describes an action<br />[quickly, silently, slowly]</p>

        </div>

    </div>
</div>
</div>

{%endblock%}