<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Rick and Morty DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileToggle" aria-controls="mobileToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobileToggle">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Database
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" class="characters" href="/database/characters">Characters</a>
          <a class="dropdown-item" class="locations" href="/database/locations">Locations</a>
          <a class="dropdown-item" class="episodes" href="/database/episodes">Episodes</a>
        </div>
      </li>
        <li class="nav-item">
            <a class="nav-link" href="/adlib_templates">Adlib Templates</a>
        </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
    {% if not g.user %}
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/profile">Profile</a>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    {% endif %}  
    </ul>
    
  </div>
</nav>