{% extends 'base.html'%}

{%block main%}
<div class="card">
    <div class="card-header">
      <span>Username:</span>{{user.username}}
    </div>
    <div class="card-body">
      <h5 class="card-title"><span>Email:</span>{{user.email}}</h5>
      <a href="/profile/edit" class="btn btn-primary">Edit</a>
    </div>
  </div>

<div class="table-responsive">
    <table class="table table">
      <thead class="thead-light">
        <tr>
            <th scope="col">Saved Stories</th>
            <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody class="story-table">
    {%for story in adlibs %}
    <tr>
        <td>{{story.text}}</td>
        <td><button data-id="{{story.id}}" class="btn btn-primary">X</button></td>
    </tr>
    {%endfor%}
      </tbody>
    </table>
    </div>


{%endblock%}
{%block pagescript %}
<script src='/static/profile.js'></script>
{% endblock %}